@font-face {
  font-family: 'Verlag-Bold';
  src: 
  url('../fonts/Verlag-Bold.woff2') format('woff2'), 
  url('../fonts/Verlag-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}