@font-face {
  font-family: 'Verlag Light';
  src: 
  url('../fonts/verlag-light.woff2') format('woff2'), 
  url('../fonts/verlag-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}