//  Table of Contents:
//
//   1. Global
//   2. Mixins
//   3. Typography
//   4. Page
//   5. Navigation
//   6. Index
//   7. Excerpt
//   8. Projects
//   9. Project
//   10. Profile
//   11. Services
//   12. Contact
//   13. Footer

// 1. Global
// ---------

body {  
  cursor: default;
  width: 1016px;
}

body {
  opacity: 1;
  transition: $primary-transition;
  height: 100%;
}

body.fade-out {
  opacity: 0;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

:focus {
  outline: 0;
}

[data-sticky] {
  width: 100%;
}

a {
  transition: $primary-transition;
}

a:hover {
  color: $color--alluminium;
}

// 2. Mixins
// ---------


@mixin padding {
  padding-bottom: 3rem;
}

@mixin links ($link, $hover) {
  a {
//     transition: $primary-transition;
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

// 3. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

h1 {
  @include padding;
}

h2 {
  @include padding;
}

// 4. Index
// ------


.container {
  padding: 64px 32px;
}

.left {
  width: 150px;
  float: left;
}

.right {
  width: 800px;
  float: left;
}